.signup-react-form > .form-input {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0.75rem;
}
.signup-react-form > .form-input label {
  font-weight: bold;
}
.signup-react-form > .form-input p {
  margin: 0rem;
  font-size: 0.75rem;
}
.signup-react-form > button {
  width: 100%;
  border: none;
  color: white;
  padding: 0.75rem;
  font-weight: bold;
  border-radius: 0.6rem;
  background-color: #73895d;
}
.signup-react-form > .form-input input:focus-visible,
.signup-react-form > button:focus-visible {
  outline: none;
}
.signup-react-form > button:hover,
.signup-react-form > button:focus-visible {
  cursor: pointer;
  background-color: #73895dde;
}
.signup-react-form > .form-input label {
  color: #464646;
  margin-bottom: 0.5rem;
}
.signup-react-form > .form-input svg {
  position: absolute;
  top: 3rem;
  left: 0.45rem;
  height: 1.25rem;
}
.signup-react-form > .form-input input {
  border: 2px solid silver;
  border-radius: 0.6rem;
  padding: 0.75rem;
  padding-left: 2rem;
}

@media screen and (max-width: 1200px) {
  .signup-react-form > .form-input {
    margin-bottom: 0.5rem;
  }
  .signup-react-form > .form-input label {
    font-size: .85rem;
  }
  .signup-react-form > .form-input input {
    height: 2.5rem;
    font-size: 0.85rem;
  }
  .signup-react-form > .form-input p {
    font-size: 0.65rem;
  }
  .signup-react-form > .form-input svg {
    top: 2.5rem;
    transform: scale(0.95);
  }
  .signup-react-form > button {
    padding: 0.5rem;
    font-size: 0.85rem;
    border-radius: 0.6rem;
  }
}
@media screen and (max-width: 920px) {
  .signup-react-form > .form-input {
    margin-bottom: 0.25rem;
  }
  .signup-react-form > .form-input label {
    font-size: .75rem;
  }
  .signup-react-form > .form-input input {
    height: 2rem;
    font-size: 0.75rem;
  }
  .signup-react-form > .form-input p {
    font-size: 0.5rem;
  }
  .signup-react-form > .form-input svg {
    top: 2rem;
    transform: scale(0.75);
  }
  .signup-react-form > button {
    padding: 0.5rem;
    font-size: 0.85rem;
    border-radius: 0.6rem;
  }
}
